In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("late-night-preferential-runway-use-1.csv", sep = ',')

In [4]:
df.head()

,index,Year,Month,01L/R,01L/R Percent of Departures,10L/R,10L/R Percent of Departures,19L/R,19L/R Percent of Departures,28L/R,28L/R Percent of Departures
0,0,2005,1,14,6%,164,71%,4,2%,49,21%
1,1,2005,2,14,7%,158,80%,0,0%,25,13%
2,2,2005,3,10,4%,165,69%,0,0%,65,27%
3,3,2005,4,26,9%,99,32%,0,0%,180,59%
4,4,2005,5,36,10%,90,24%,0,0%,242,66%